In [1]:
import numpy as np 
import pandas as pd

In [2]:
df  = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [4]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?

In [5]:
men = df.loc[df['sex']=='Male']
avg_men_age = men.age.mean()
float(round(avg_men_age,1))

39.4

### What is the percentage of people who have a Bachelor's degree?

In [6]:
edu_bachelors = df.loc[df['education']=='Bachelors']
total_people = len(df)
percentage_bachelors = ((len(edu_bachelors) / total_people) * 100)
round(percentage_bachelors, 1)

16.4

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [7]:
num_advanced_edu = df.loc[df['education'].isin(['Bachelors','Masters', 'Doctorate'])]
len(num_advanced_edu)

7491

In [8]:
num_advanced_edu_rich = num_advanced_edu.loc[num_advanced_edu['salary']=='>50K']
len(num_advanced_edu_rich)

3486

In [9]:
percentage_advanced_edu_rich = (len(num_advanced_edu_rich) / len(num_advanced_edu)) * 100
round(percentage_advanced_edu_rich, 1)

46.5

### What percentage of people without advanced education make more than 50K?

In [10]:
edu_lower = df.loc[~df['education'].isin(['Bachelors','Masters', 'Doctorate'])]
len(edu_lower)

25070

In [11]:
edu_lower_rich = edu_lower.loc[edu_lower['salary']=='>50K']
len(edu_lower_rich)

4355

In [12]:

percentage_edu_lower_rich = (len(edu_lower_rich) / len(edu_lower)) * 100
round(percentage_edu_lower_rich, 1)

17.4

### What is the minimum number of hours a person works per week?

In [13]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [14]:
min_work_hours =df['hours-per-week'].min()
min_work_hours

np.int64(1)

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [15]:
min_hour_workers = df[df['hours-per-week']==min_work_hours]
len(min_hour_workers)

20

In [16]:
min_hour_high_salary = min_hour_workers[min_hour_workers['salary']=='>50K']
rich_percantage = (len(min_hour_high_salary) / len(min_hour_workers)) *100
round(rich_percantage,1)

10.0

## What country has the highest percentage of people that earn >50K and what is that percentage?

In [17]:
country_counts = df['native-country'].value_counts()
len(country_counts)

42

In [18]:
rich_country_counts = df.loc[df['salary']=='>50K']['native-country'].value_counts()
len(rich_country_counts)

40

In [19]:
percentage_rich_by_country = rich_country_counts / country_counts * 100
highest_earning_country = percentage_rich_by_country.idxmax()
highest_earning_country

'Iran'

In [20]:
highest_earning_country_percentage = round(percentage_rich_by_country.max(),1)
highest_earning_country_percentage

np.float64(41.9)

# Identify the most popular occupation for those who earn >50K in India.

In [21]:

india_rich = df.loc[(df['native-country']=='India') & (df['salary']=='>50K')]
len(india_rich)

40

In [22]:
india_rich_occupation_counts = india_rich['occupation'].value_counts()
india_rich_occupation_counts

occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: count, dtype: int64

In [23]:
india_rich_occupation_counts.idxmax()

'Prof-specialty'